extend layout

block content
  form(name="product-name", method="post")
        div.input
            span.label Enter a Product
            input(type="text", name="product_name")
        div.actions
            input(type="submit", value="add")
