extend layout

block content
  form(name="product-name", method="post")
        input#userInput.form-control(onclick='this.setSelectionRange(0, this.value.length)', type='text', value='Please enter a product', name='product_name')
