extend layout

block result
	#myModal.portfolio-modal.modal.fade(role='dialog')
	 .modal-content
	 .modal-header
	 |Result on #{product}
	 .modal-body
	 p 
	 |Sentiment towards #{product} is #{scoreout}